@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(248 250 252);
  color: rgb(15 23 42);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark {
  background: rgb(15 23 42);
  color: rgb(248 250 252);
}

#root {
  min-height: 100vh;
}
